In [1]:
import pandas as pd
import os
from skimage.transform import resize
from skimage.io import imread
import numpy as np
import matplotlib.pyplot as plt

In [3]:
Categories=["no_bar","bar"]
data_arr=[]
target_arr=[]
datadir='datasets/barcode_dir/'

In [4]:
os.listdir(datadir)

['bar', 'no_bar']

In [5]:
for i in Categories:
    path=os.path.join(datadir,i)
    for img in os.listdir(path):
        img=imread(os.path.join(path,img))
        data_arr.append(img.flatten())
        target_arr.append(Categories.index(i))
    print(f'loaded category:{i} successfully')
flat_data=np.array(data_arr)
target=np.array(target_arr)
df=pd.DataFrame(flat_data) #dataframe
df['Target']=target
x=df.iloc[:,:-1] #input data 
y=df.iloc[:,-1] #output data

loaded category:no_bar successfully
loaded category:bar successfully

In [6]:
df

,0,1,2,3,4,5,6,7,8,9,...,83991,83992,83993,83994,83995,83996,83997,83998,83999,Target
0,176,152,104,179,155,107,180,156,108,174,...,177,151,100,177,151,100,178,152,101,0
1,189,168,123,191,170,125,191,170,125,195,...,183,158,104,183,158,104,184,159,105,0
2,205,184,137,202,181,134,197,176,129,198,...,191,177,128,194,180,131,195,181,132,0
3,207,190,147,207,190,147,207,190,147,207,...,162,134,87,161,133,86,159,131,84,0
4,205,184,139,204,183,138,204,183,138,203,...,202,184,138,202,184,138,201,183,137,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1671,165,146,129,166,147,130,165,146,129,164,...,175,153,130,175,153,130,175,153,130,1
1672,147,149,146,147,149,146,147,149,146,146,...,62,61,67,62,61,67,62,61,67,1
1673,184,175,166,184,175,166,182,173,164,183,...,188,181,163,188,181,163,188,181,163,1
1674,114,134,125,114,134,125,114,134,125,114,...,143,159,159,143,159,159,143,159,159,1
1675,202,185,178,202,185,178,202,185,178,202,...,204,169,167,204,169,167,204,169,167,1

In [18]:
df2 = df.drop_duplicates()
df2

,0,1,2,3,4,5,6,7,8,9,...,83991,83992,83993,83994,83995,83996,83997,83998,83999,Target
0,190,174,140,189,173,139,188,172,136,188,...,189,162,115,185,161,115,189,165,119,0
1,147,167,194,152,172,199,151,171,198,152,...,135,141,157,133,139,155,132,138,154,0
2,165,159,159,155,149,149,143,137,137,124,...,198,187,191,198,187,191,199,188,192,0
3,200,199,195,194,190,187,195,191,188,194,...,193,189,188,194,190,189,193,189,188,0
4,221,216,194,218,213,191,218,213,191,214,...,173,159,146,200,186,173,217,203,190,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1671,147,139,120,148,140,121,149,141,122,148,...,158,149,134,158,149,134,158,149,134,1
1672,183,176,158,183,176,158,183,176,158,183,...,194,185,176,194,185,176,194,185,176,1
1673,177,161,146,177,161,146,177,161,146,177,...,177,161,146,177,161,146,177,161,146,1
1674,198,169,165,198,169,165,198,169,165,197,...,179,150,142,179,150,142,179,150,142,1
1675,201,171,169,202,172,170,203,173,171,203,...,192,158,156,193,159,157,193,159,157,1

In [7]:
from sklearn import svm
from sklearn.model_selection import GridSearchCV
param_grid={'C':[5],'gamma':[0.02],'kernel':[poly']}
svc=svm.SVC(probability=True)
model=GridSearchCV(svc,param_grid)

In [8]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.05,random_state=77,stratify=y)
print('Splitted Successfully')
model.fit(x_train,y_train)
print('trained')

Splitted Successfully
trained

In [9]:
from sklearn.metrics import accuracy_score
y_pred=model.predict(x_test)
print(f"The model is {accuracy_score(y_pred,y_test)*100}% accurate")

The model is 88.09523809523809% accurate

In [10]:
import pickle
filename = "svm_bar_classifierv2"
pickle.dump(model, open(filename, 'wb'))
loaded_model = pickle.load(open(filename, 'rb'))
result = loaded_model.score(x_test, y_test)
print(result)

0.926829268292683